@(posts: List[BasePost], basePostForm: Form[BasePost])

@import helper._

@main("Base post list") {
    
    <h1>@posts.size() post(s)</h1>

    <ul>
      @for(post <- posts) {
        <li>
        @post.startPoint - @post.endPoint
        </li>
      }
    </ul>
}
