@(posts: List[DriverPost], driverPostForm: Form[DriverPost])

@import helper._

@main("Driver post list") {
    
    <h1>@posts.size() post(s)</h1>

    <ul>
      @for(post <- posts) {
        <li>
        @post.startPoint - @post.endPoint
        </li>
      }
    </ul>

    <h2>Add a new post</h2>
    @form(routes.Application.newDriverPost()) {
      @inputText(driverPostForm("startPoint")) - @inputText(driverPostForm("endPoint")) 
      <input type="submit" value="Create">
    }
}