@(posts: List[BasePost], basePostForm: Form[BasePost])

@import helper._

@main("Base post list") {
    
    <h1>@posts.size() post(s)</h1>

    <ul>
      @for(post <- posts) {
        <li>
        @post.startPoint - @post.endPoint
        </li>
      }
    </ul>

    <h2>Add a new post</h2>
    @form(routes.Application.newBasePost()) {
      @inputText(basePostForm("startPoint")) - @inputText(basePostForm("endPoint"))
      <input type="submit" value="Create">
    }
}
